<hot-table 
	col-headers="true" 
	settings="settings"
	row-headers="true"
	datarows="data"
	on-after-selection="onAfterSelection">
	
	<div ng-repeat="column in resultData">
	<hot-column ng-if="!column.isSelect" title="column.label"></hot-column>
	<hot-column ng-if="column.isSelect"  
				 title="column.label"
				 stepId="column.stepId"
				 data="{{column.label}}"
				 type="'autocomplete'">
		<hot-autocomplete datarows="value in columns.values"></hot-autocomplete>
	</hot-column>
	</div>
</hot-table>